@{
    ViewBag.Title = "Home Page";
}

<div>

    <div>@ViewBag.Token</div>
    <div>@ViewBag.statuCode</div>
    <div>@ViewBag.Content</div>
    <div>@ViewBag.Success</div>
    <div>@ViewBag.Error</div>

    <div>@ViewBag.Principal</div>



</div>